.topBar .nr{ width:1000px;}
.rightCon{ width:850px;}
.PublicList .t2{ width:85px;}
.w1200{ width:1000px;}
.briefing, .new-sale{ width:420px;}
.goods-list .t5{ width:65px;}
.goods-list .t4{ width:160px;}
.quick-btn li{ width:200px;}
.icon-mo{ left:15px;}
.money-q .t{ left:70px;}
.icon-or{ left:35px;}
.order-q .t{ left:90px;}
.icon-sa{ left:10px;}
.sale-q .t{ left:80px;}
.icon-co{ left:35px;}
.collect-q .t{left:90px;}
.PublicList .t6{ min-width:200px;}

.briefing .list li{ width:180px;}