<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key ="url" value ="http://118.178.88.33:96/g.aspx?id="/>
    <!--微信公纵号appid和secret-->
    <add key="WXAppID" value="wx4859ef8f9dcd280b"/>
    <add key="WXSecret" value="d85b387ac19335f6a01596e5b5aaece0"/>
    <!--支付宝的合作身份者ID和交易安全检验码-->
    <add key="partner" value="2088121822070360"/>
    <add key="key" value="10o6yjsppsyfo1yu31c99o0rdh6h5oh5"/>
    <!--物流ApiKey-->
    <add key="ExpressApiKey" value="4088ed72ed034b61b4b5adf05870aeba"/>
    <!--手机APP第三方推送配置-->
    <add key="CompKey" value="05a9fbdfd0593b7996a53090"/>
    <add key="CompMasterSecret" value="2b7979c06f15b089d04eab62"/>
    <add key="DisKey" value="05a9fbdfd0593b7996a53090"/>
    <add key="DisMasterSecret" value="2b7979c06f15b089d04eab62"/>
    <!--商品图片存放位置-->
    <add key="ImgPath" value="D:/Hiimgs/"/>
    <!--商品图片预览路径-->
    <add key="ImgViewPath" value="http://114.215.211.166:902/"/>
    <!--线下支付图片存放位置-->
    <add key="OrderPayAttchPath" value="D:/Project/医站通/Web/TempFile/"/>
    <add key="OrderPayAttchViewPath" value="http://118.178.88.33:97/"/>
    
    <add key="SysCompFoder" value="Company"/>
    <add key="SysAdminFoder" value="Admin"/>
    <add key="CompImg" value="~/Company/CompImges/"/>
    <!--查询列表，默认每页显示条数-->
    <add key="PageSize" value="12"/>
    <!--手机短信验证的账号密码-->
    <add key="PhoneCodeAccount" value="jksc368"/>
    <add key="PhoneCodePwd" value="345088"/>
    <!--短信标签-->
    <add key="PhoneSendName" value="my1818"/>
    <add key="PhoneSendTel" value="400-961-9099"/>
    <!--机构代码-->
    <add key="OrgCode" value="MYKJ"/>
    <!--中金支付机构代码-->
    <add key="PayOrgCode" value="001520"/>
    <!--支付接口类型：0:测试，1:正式 -->
    <add key="PayType" value="0"/>
    <!--是否启用经销商价格维护 0、未启用 1、启用-->
    <add key="IsDisPrice" value="1"/>
    <!--区分中金测试接口 .1:屏蔽中金支付接口，0:不屏蔽中金测试接口-->
    <add key="Paytest_zj" value="1"/>
    <!--业务数据库-->
    <add key="ConnectionString" value="server=47.100.16.185;database=YZT;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>
    <!--<add key="ConnectionString" value="server=114.55.140.161;database=YZT-CS;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>-->
    <!--<add key="ConnectionString" value="server=118.178.88.33;database=YJSYQ;uid=sa;pwd=haiyusoft.com;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>-->
    <!--访问信息数据库日志-->
    <!--<add key="ConnectionString_Log" value="server=114.215.211.166;database=Hi.ELog;uid=sa;pwd=haiyusoft.com;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>-->
    <add key="ConnectionString_Log" value="server=118.178.88.33;database=Hi.ELog;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>
    <!--支付配置-->
    <add key="payment.config.path" value="D:\Project\商E久-陌远科技\App_Code\TestPay"/>
    <!--<add key="payment.config.path" value="F:\1商E久\设计\公共程序包(C#)\示例程序\InstitutionRef\payment.config"/>-->
    <!--支付回调页面-->
    <add key="ALIPAY_NOTIFY_URL" value="http://114.215.211.166:93/Ali/NoticeAlipay.aspx"/>
    <add key="WXAPPservice.WxServiceController" value="http://wx.shangyijiu.com/WxService/WxServiceController.asmx"/>
    <!--厂商入驻发送提醒到手机号-->
    <add key="SendTels" value="18816513496"/>
    <add key="OssImgPath" value="https://static.yibanmed.com/"/>
  </appSettings>
  <system.web>
    <!--支付error页面-->
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Forms">
      <forms name="Socansoft" loginUrl="SignIn.aspx"/>
    </authentication>
    <!--<pages theme="Socansoft"/>-->
    <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="600"/>
    <httpRuntime maxRequestLength="9048576" executionTimeout="3600" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760"></requestLimits>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="default.aspx"/>
        <add value="index.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    //跨域配置
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,OPTIONS,DELETE" />
        <add name="Access-Control-Allow-Headers" value="Origin, x-requested-with, Content-Type, Accept,X-Cookie,SOAPAction" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>
