<?xml version="1.0" encoding="utf-8"?>

<RewriterConfig>
  <Rules>

    <RewriterRule>
      <LookFor>/WindowLogin_(\d+)+\.html</LookFor>
      <SendTo>/WindowLogin.aspx?comid=$1</SendTo>
    </RewriterRule>


    <RewriterRule>
      <LookFor>/eshop/about_(\d+)\.html</LookFor>
      <SendTo>/eshop/about.aspx?comid=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/error.html</LookFor>
      <SendTo>/error.aspx</SendTo>
    </RewriterRule>


    <RewriterRule>
      <LookFor>/compregister_(\d+)+\.html</LookFor>
      <SendTo>/compregister.aspx?comid=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/subject/(\w{1,20})/index.html</LookFor>
      <SendTo>/subject/$1/index.aspx</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/eshop/index_(\d{1,7}).html</LookFor>
      <SendTo>~/eshop/index.aspx?comid=$1</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/(\d{1,7}).html</LookFor>
      <SendTo>~/eshop/index.aspx?comid=$1</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>/(\d{1,7})_([\w\W]{0,100})_(\d{0,7})\.html</LookFor>
      <SendTo>/eshop/index.aspx?comid=$1&amp;goodsname=$2&amp;scrotop=$3</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/index_(\d+)+\.html</LookFor>
      <SendTo>/index.aspx?comid=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/comlist_(\d{0,7})_([\w\W]{0,100})\.html</LookFor>
      <SendTo>/comlist.aspx?indid=$1&amp;compname=$2</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>/comlist_(\d+)\.html</LookFor>
      <SendTo>/comlist.aspx?indid=$1</SendTo>
    </RewriterRule>


    <RewriterRule>
      <LookFor>/compnew_(\d{0,7})_([\w\W]{0,100})\.html</LookFor>
      <SendTo>/comlist.aspx?indid=$1&amp;compname=$2&amp;new=1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/compnew_(\d+)\.html</LookFor>
      <SendTo>/comlist.aspx?indid=$1&amp;new=1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/comphot.html</LookFor>
      <SendTo>/comlist.aspx?type=1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/compnew.html</LookFor>
      <SendTo>/comlist.aspx?new=1</SendTo>
    </RewriterRule>
 
    <RewriterRule>
      <LookFor>/eshop/newsinfo_(\d+)_(\d+)_3\.html</LookFor>
      <SendTo>/eshop/newsinfo.aspx?ID=$1&amp;Comid=$2&amp;Type=3</SendTo>
    </RewriterRule>
    

    <RewriterRule>
      <LookFor>/newsview_(\d+)_(\d+)\.html</LookFor>
      <SendTo>/newsview.aspx?newsid=$1&amp;newstype=$2</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/m(\d+)_(\d+)\.html</LookFor>
      <SendTo>/eshop/m_productsview.aspx?goodsid=$1&amp;comid=$2</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/e(\d+)_(\d+)\.html</LookFor>
      <SendTo>/eshop/productsview.aspx?goodsid=$1&amp;comid=$2</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>/e(\d+)\.html</LookFor>
      <SendTo>/eshop/productslist.aspx?Comid=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/e(\d+)_(\d+)_\.html</LookFor>
      <SendTo>/eshop/productsview.aspx?goodsInfoId=$1&amp;comid=$2</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/e(\d+)_(\d+)_(\d+)\.html</LookFor>
      <SendTo>/eshop/productsview.aspx?goodsid=$1&amp;comid=$2&amp;ycid=$3</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/Comp/(\w+).html</LookFor>
      <SendTo>/Company/$1.aspx</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>/Company/SysManager/NewsList.html</LookFor>
      <SendTo>/Company/SysManager/NewsList.aspx</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>/Distributor/CompNewList.html</LookFor>
      <SendTo>/Distributor/CompNewList.aspx</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>/Company/(\w+).html</LookFor>
      <SendTo>/Company/$1.aspx</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/news_(\d+)\.html</LookFor>
      <SendTo>/news.aspx?NewsType=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/newsinfo_(\d+)\.html</LookFor>
      <SendTo>/newsinfo.aspx?Newsid=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/newsinfo_(\d+)_(\d+)\.html</LookFor>
      <SendTo>/newsinfo.aspx?Newsid=$1&amp;Type=$2</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/help/help_(\d{1,2}).html</LookFor>
      <SendTo>/help/help.aspx?Index=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/help/help(\w{0,10}).html</LookFor>
      <SendTo>/help/help.aspx</SendTo>
    </RewriterRule>

    
    <RewriterRule>
      <LookFor>/about_(\d+).html</LookFor>
      <SendTo>~/about.aspx?type=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/statement_(\d+).html</LookFor>
      <SendTo>~/statement.aspx?type=$1</SendTo>
    </RewriterRule>
   
     <RewriterRule>
      <LookFor>/goodslist_(\d+).html</LookFor>
      <SendTo>/goodslist.aspx?CategoryID=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/goodslist_(\d)_.html</LookFor>
      <SendTo>/goodslist.aspx?Type=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/goodshotlist.html</LookFor>
      <SendTo>/goodslist.aspx?Hot=1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/comlist_(\d{0,7})_([\w\W]{0,100})\.html</LookFor>
      <SendTo>/comlist.aspx?indid=$1&amp;compname=$2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/goodslist_0_([\w\W]{0,100})\.html</LookFor>
      <SendTo>/goodslist.aspx?GoodsName=$1</SendTo>
    </RewriterRule>
    

    <RewriterRule>
      <LookFor>/(\w+).html</LookFor>
      <SendTo>/$1.aspx</SendTo>
   </RewriterRule>
   
  </Rules>
</RewriterConfig>