<?xml version="1.0"?>
<configuration>
  <!--url重写配置_1-->
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler,URLRewriter"/>
  </configSections>
  <RewriterConfig configSource="URLRewriter.config"/>
  <!--url重写配置_1 end-->
  <appSettings>
    <!--css/js 版本号-->
    <add key="Version" value="2.0.1.0"/>
    <!--第三方推送配置 0关闭，1开启-->
    <add key="PushSwitch" value="1"/>
    <!--商品图片存放位置-->
    <add key="ImgPath" value="C:/Hiimgs/"/>
    <!--商品图片预览路径-->
    <add key="ImgViewPath" value="https://www.yibanmed.com/"/>
    <add key="SysCompFoder" value="Company"/>
    <add key="SysAdminFoder" value="Admin"/>
    <add key="CompImg" value="/Company/CompImges/"/>
    <!--知识产权 -->
    <add key="CompanyName" value="粤ICP备17130448号-2 ©2017-2018 深圳前海医伴金服信息技术有限公司 "/>
    <add key="TitleName" value="医站通"/>
    <!--短信标签-->
    <add key="PhoneSendName" value="医站通"/>
    <add key="PhoneSendTel" value="40077-40088"/>
    <!--查询列表，默认每页显示条数-->
    <add key="PageSize" value="12"/>
    <!--手机短信验证的帐号密码-->
    <add key="PhoneCodeAccount" value="jksc068"/>
    <add key="PhoneCodePwd" value="jksc06833"/>
    <!--机构代码-->
    <add key="OrgCode" value="MYKJ"/>
    <!--中金支付机构代码-->
    <add key="PayOrgCode" value="002486"/>
    <!--支付接口类型：0:测试，1:正式 -->
    <add key="PayType" value="0"/>
    <!--是否启用机构及业务员-->
    <add key="IsAdminUser" value="1"/>
    <!--是否启用代理商价格维护 0:未启用 1:启用-->
    <add key="IsDisPrice" value="1"/>
    <!--代理商自动签收天数-->
    <add key="Sign" value="15"/>
    <!--在线融资开关  0:未启用 1:启用-->
    <add key="IsFinancing" value="0"/>
    <!--担保支付开关  0:未启用 1:启用-->
    <add key="IsDBPay" value="0"/>
    <!--区分中金测试接口 .1:屏蔽中金支付接口，0:不屏蔽中金测试接口-->
    <add key="Paytest_zj" value="1"/>
    <!--厂商入驻发送提醒到手机号-->
    <add key="SendTels" value="18816513496"/>
    <!--网站域名地址-->
    <add key="WebDomainName" value="http://localhost:8080"/>

    <!--业务数据库-->
    <!--<add key="ConnectionString" value="server=114.55.140.161;database=yzt0209;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>-->
    <!--<add key="ConnectionString" value="server=114.55.140.161;database=YZT-CS;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>-->
    <!--访问信息数据库日志-->
    <!--<add key="ConnectionString_Log" value="server=114.55.140.161;database=Hi.ELog;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>-->

    <!--业务数据库-->
    <add key="ConnectionString" value="server=47.100.16.185;database=YZT;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>
    <!--访问信息数据库日志-->
    <add key="ConnectionString_Log" value="server=47.100.16.185;database=ELog;uid=sa;pwd=1qaz@WSX;Pooling=true; MAX Pool Size=512;Min Pool Size=50;Connect Timeout=180;"/>

    <!--支付配置-->
    <add key="payment.config.path" value="D:\EBank\陌远科技\My1818-3.0\Code\Web\App_Code\TestPay"/>
    <add key="FinancingReferences.IPubnetwk" value="http://114.215.211.166:8089/Xfire/services/IPubnetwk"/>
    <!--其他系统后台通知地址WebService接口-->
    <add key="BehindUp.BehindService" value="http://localhost:822/MoveService/BehindService.asmx"/>
      
    <!-- OSS -->
    <add key="OssAccessKeyId" value="LTAIBKH8o6hAy47a"/>
    <add key="OssAccessKeySecret" value="aOwFJ2L2kEiDCH6EF0RcWWRzbGpppj"/>
    <add key="OssBucketName" value="yibanmed"/>
    <add key="OssEndpoint" value="oss-cn-shanghai.aliyuncs.com"/>
    <add key="OssImgPath" value="https://static.yibanmed.com/"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <!--error页面-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="/error.html"/>-->
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <!--解决html不能访问问题-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
    </httpModules>
    <authentication mode="Forms">
      <forms name="Socansoft" loginUrl="SignIn.aspx"/>
    </authentication>
    <!--解决html不能访问问题 end-->

    <!--为 Web 应用程序使用的 Cookie 配置属性。requireSSL:获取一个指示是否需要安全套接字层 (SSL) 通信的值.-->
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>

    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="600"/>
    <httpRuntime maxRequestLength="9048576" executionTimeout="3600" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!--url重写配置_2-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler,URLRewriter" name="urlrewriter"/>
    </handlers>
  </system.webServer>
  <!--url重写配置_2 end-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"></requestLimits>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="index.aspx"/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--处理中金支付接口远程服务器相应问题 start-->
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <!--处理中金支付接口远程服务器相应问题 end-->
</configuration>
